aiohttp==3.7.4.post0
aioredis==2.0.1
anyio==3.5.0
asgi-ratelimit==0.8.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.4
colorama==0.4.4
cryptography==36.0.1
Deprecated==1.2.13
h11==0.13.0
idna==3.3
multidict==6.0.2
packaging==21.3
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.7
PyYAML==6.0
redis==4.2.0rc3
sniffio==1.2.0
starlette==0.18.0
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.4
wrapt==1.14.0
yarl==1.7.2
